<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="http://24.24.24.16:8000">
            <img class="fa" src="http://24.24.24.16:8000/image/etc/Aini%20Record%20Logo%20-%20min.png" height="48"/></i>

        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="http://24.24.24.16:8000#about" class="nav-link smoothScroll">Tentang</a>
                </li>
                <li class="nav-item">
                    <a href="#project" class="nav-link smoothScroll">Departemen</a>
                </li>
                <li class="nav-item">
                    <a href="blog" class="nav-link">Blog</a>
                </li>
                <li class="nav-item">
                    <a href="contact" class="nav-link contact">Kontak</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
